<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:fragment="employeeForm">
<head>

</head>

<body>
		<div class="col-md-12">
			<div class="date form-group col-md-6 ">
				<label for="firstName">First Name</label> 
				<input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Employee first name">
				<p class="text-center alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>	
			</div>
			<div class="date form-group col-md-6">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Employee last name">
				<p class="text-center alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Employee email">
				<p class="text-center alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
			</div>
			<div class="form-group col-md-6">
				<label for="email">Role</label>
				<select class="form-control" th:field="*{role}">
			 		<option value="">----  Select User Role  ----</option>
					<option  th:each="userRole: ${T(pl.ndt.manager.model.enums.UserRole).values()}"
				 		th:value="${userRole}" th:text="${userRole.getValue()}"></option>
				</select>
				<p class="text-center alert" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
			</div>
		</div>	
		<div class="col-md-12">
			<div class="form-group col-md-6">
				<label for="possition">Possition</label>
					<select class="form-control" th:field="*{employeePositon}">
			 		<option value="">----  Select Employee Possition  ----</option>
					<option  th:each="possition: ${T(pl.ndt.manager.model.enums.EmployeePositon).values()}"
				 		th:value="${possition}" th:text="${possition.getValue()}"></option>
				</select>
				<p class="text-center alert" th:if="${#fields.hasErrors('employeePositon')}" th:errors="*{employeePositon}"></p>
			</div>
			<div class="col-md-6">
				<label for="locationName">Location</label>
				<select class="form-control" th:field="*{locationName}" >
			 		<option value="">----  Select Location  ----</option>
					<option  th:each="location : ${locations.getLocations()}"
						th:value="${location.institutionName}" th:text="${location.institutionName}"></option>
				</select>
				<p class="text-center alert" th:if="${#fields.hasErrors('locationName')}" th:errors="*{locationName}"></p>
			</div>
		</div>
		<p class="alert text-center" th:text="${alert}"></p>
		<div class="form-group col-md-6">
			<label ></label>
		</div>
</body>
</html>