<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
	<div th:switch="${session.logedEmployee.role}">
		<p th:case="${T(pl.ndt.manager.model.enums.UserRole).ADMIN}">
			<th:block th:include="fragments/adminMenu :: adminMenu"></th:block>
		</p>
		<p th:case="${T(pl.ndt.manager.model.enums.UserRole).USER}">
			<th:block th:include="fragments/userMenu :: userMenu"></th:block>
		</p>
	</div>

	<h3 class="text-center">Ultrasonic Probes</h3>

	<div class="col-md-10 col-md-offset-1">

		<table class="table table-condensed">
			<tr>
				<th>No.</th>
				<th>Model</th>
				<th>Frequency</th>
				<th>Angle</th>
				<th>Producer</th>
				<th>Production Year</th>
				<th>Serial No.</th>
				<th>Start of use</th>
				<th>Location</th>
				<th>Edit</th>
			</tr>
			<tr th:each="device,id : ${devices.getDevices()}">
				<td th:text="${id.count}"></td>
				<td th:text="${device.model}"></td>
				<td th:text="${device.frequency + ' MHz'}"></td>
				<td th:text="${device.angle +'&deg'}"></td>
				<td th:text="${device.producer}"></td>
				<td th:text="${device.productionYear}"></td>
				<td th:text="${device.serialNumber}"></td>
				<td th:text="${device.startOfUse}"></td>
				<td th:text="${device.locationName}"></td>
				<td><a th:href="@{/editProbe(id=${device.id})}">Update</a>
		</table>
		
	</div>
</body>
</html>