<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:fragment="chemicalForm">
<head>

</head>

<body>
		<div class="col-md-12">
			<div class="date form-group col-md-6 ">
				<label for="name">Name</label> 
				<input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Chemical name">
				<p class="text-center alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>	
			</div>
			<div class="date form-group col-md-6">
				<label for="producer">Producer</label>
				<input type="text" class="form-control" id="street" th:field="*{producer}" placeholder="Company name">
				<p class="text-center alert" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group col-md-6">
				<label for="batch">Batch</label>
				<input type="text" class="form-control" id="issuedBy" th:field="*{batch}" placeholder="Batch number">
				<p class="text-center alert" th:if="${#fields.hasErrors('batch')}" th:errors="*{batch}"></p>
			</div>
		
			<div class="form-group col-md-6">
			<label for="chemicalType">Chemicals Type</label>
			<select class="form-control" th:field="*{chemicalType}">
				<option value="">----  Select Chemicals Type  ----</option>
				<option  th:each="type: ${T(pl.ndt.manager.model.enums.ChemicalType).values()}"
				 		th:value="${type}" th:text="${type.getValue()}"></option>
			</select>
			<p class="text-center alert" th:if="${#fields.hasErrors('chemicalType')}" th:errors="*{chemicalType}"></p>
			</div>
			
		</div>
		<div class="col-md-12">
			<div class="form-group col-md-6">
				<label for="typeOfTesting">Type of Testing</label>
				<select class="form-control" th:field="*{typeOfTesting}">
					<option value="">----  Type of Testing ----</option>
					<option th:value="${T(pl.ndt.manager.model.enums.TypeOfTesting).MT}" th:text="${T(pl.ndt.manager.model.enums.TypeOfTesting).MT.getValue()}"></option>
					<option th:value="${T(pl.ndt.manager.model.enums.TypeOfTesting).PT}" th:text="${T(pl.ndt.manager.model.enums.TypeOfTesting).PT.getValue()}"></option>
				</select>
				<p class="text-center alert" th:if="${#fields.hasErrors('typeOfTesting')}" th:errors="*{typeOfTesting}"></p>
			</div>
		</div>
		<p class="alert text-center" th:text="${alert}"></p>
		<div class="form-group col-md-6">
			<label ></label>
		</div>

</body>
</html>