<!DOCTYPE html>
<html lang="en">
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NDT Manager</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
	<link href = "resources/css/main.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar ndt_navbar ">
		<div class="navbar-brand" >NDT Manager</div>
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"  >Personel <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Geri bildirim</a></li>
						<li class="divider"></li>
						<li><a href="#exit">Çıkış yap</a></li>
					</ul>
				</li>
			</ul>	
		</div>
		</nav>	
	</body>
</html>