
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>


</head>
<body>
	<div th:switch="${session.logedEmployee.role}">
		<p th:case="${T(pl.ndt.manager.model.enums.UserRole).ADMIN}">
			<th:block th:include="fragments/adminMenu :: adminMenu"></th:block>
		</p>
		<p th:case="${T(pl.ndt.manager.model.enums.UserRole).USER}">
			<th:block th:include="fragments/userMenu :: userMenu"></th:block>
		</p>

		<h3 class="text-center">Employees</h3>

		<div class="col-md-4 col-md-offset-4">

			<table class="table table-condensed">
				<tr>
					<th>No.</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Position</th>

				</tr>
				<tr th:each="employee,id : ${employess.getEmployees()}">
					<td th:text="${id.count}"></td>
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.role}"></td>
				</tr>
			</table>
		</div>
</body>
</html>