<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:fragment="userMenu">

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{resources/js/bootstrap.min.js}"></script>
<script th:src="@{resources/js/navbar.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="jquery.timepicker.js" type="text/javascript"></script>
<link th:rel="stylesheet" th:href="@{resources/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{resources/css/main.css}">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>NDT Manager</title>


</head>
<body>
	<nav class="navbar ndt_navbar ">
		<div class="navbar-brand">NDT Manager</div>
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">Personel <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="showEmployees">Show Employees</a></li>
					<li class="divider"></li>
					<li class="dropdown-submenu"><a class="test" tabindex="-1"
						href="#">Show Employees Documents <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/showNdtCertificates}"> NDT
									Certificates</a></li>

						</ul></li>
					<li class="dropdown-submenu"><a class="test" tabindex="-1"
						href="#">Add Employee Document <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/addNdtCertificate}"> Add NDT
									Certificate</a></li>

						</ul></li>
				</ul></li>
		</ul>
		<div class="navbar-right user">
			<span th:text="${session.logedEmployee.firstName}"></span> <span
				th:text="${session.logedEmployee.lastName}"></span> <a
				href="logout"> <span class="glyphicon glyphicon-log-in"></span>
			</a>
		</div>
	</nav>
</body>
</html>